<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift001.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A755CC01F205A1F007B5FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A755CD71F205A20007B5FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A755CE21F205A20007B5FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
